<section id="about">
  <div class="row row-content">
    <div class="section-title">
      <span class="circle"></span>
      <h3>About</h3>
    </div>
  </div>
  <div class="row row-content" data-aos="fade-up">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <h4>Intermodal route planning advice is vital when we want to convince people to opt for more sustainable ways
          of transport.</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>
        Countless projects have tried to create a perfect intermodal route planning experience, and all
        of them have been investing over and over again in integrating the same data. When the funding from these
        projects disappears, also the data integration disappeared.
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>
        The Open Planner Team wants to empower anyone to build any kind of route planner, without having to invest
        in data integration. Your route planner should work out of the box. Therefore, we are first and foremost
        working on the Open Data itself, by helping data owners publish their data.
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>
        By building open source tools that can consume these open data sources automatically, we hope to build a
        level playing field for Mobility as a Service players
      </p>
    </div>
  </div>
</section>
