<section id="call-ideas">
    <div class="row row-content">
        <div class="section-title">
            <span class="circle"></span>
            <h3>Call for ideas</h3>
        </div>
    </div>
    <div class="row row-content" data-aos="fade-up">
        <div class="col-sm-12 col-md-9">
            <h4>At <a href="https://2019.summerofcode.be/">Open Summer of Code 2019</a>
                we will use the tools we built and data we publish to solve read-world mobility problems.
            </h4>
        </div>
        <p>
            We need you to <a href="https://pietercolpaert.typeform.com/to/sU2FvP">tell us</a> what we should focus
            on in one of
            three categories:
        </p>
        <ul>
            <li>The inaccessible countryside.</li>
            <li>Customized mobility.</li>
            <li>Local governments ideas</li>
        </ul>
        <p>
            Submit your ideas <a href="https://pietercolpaert.typeform.com/to/sU2FvP">here!</a>
        </p>
    </div>
</section>
