<section id="call-ideas">
    <div class="row row-content">
        <div class="section-title">
            <span class="circle"></span>
            <h3>Ideas</h3>
        </div>
    </div>
    <div class="row row-content" data-aos="fade-up">
      <h4> Call for Ideas </h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-9">
            <div class="container">
                <div class="video">
                    <iframe src="https://player.vimeo.com/video/320746409?autoplay=1&loop=1&background=1"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <section id="ideasDone" class="alt-columns">
        <div class="row row-content">
          <div class="row row-content" data-aos="fade-up">
            <h4> Some of your ideas </h4>
          </div>
        </div>

        <div class=ideasContainer>

            <div class=ideaItem data-aos="fade-right">
                <h5>My route-buddy</h5>

                <p>
                    It knows where I want to go and tells me what to do next.
                    If something goes wrong (e.g., I missed a connection, the bus is late, a train is canceled, ...)
                    it starts re-routing, without any action from me.
                </p>


            </div>

            <div class=ideaItem data-aos="zoom-in">
                <h5>Departure "region"</h5>
                <p>
                    I live in a rural place where I first have to take my bike (which is okay) before I can hop on a public
                    transport.
                    This means that I need a
                    routeplanner who can work with a departure "region" instead of a departure "point".
                </p>
            </div>

            <div class=ideaItem data-aos="fade-left">
                <h5>Cycling routes updating</h5>

                <p>
                    I am a daily cyclist in Brussels.
                    Traffic works that have an impact on cycling routes are not updated into my route planner.
                </p>


            </div>

            <div class=ideaItem data-aos="fade-right">
                <h5>Avoiding "waze-like" route advice</h5>

                <p>
                    A multimodal route planner that takes into account the preferences
                    of both user and local government helping both to find the best solutions.
                </p>
            </div>

            <div class=ideaItem data-aos="zoom-in">
                <h5>Dog walks</h5>

                <p>
                    I want a route planner that would allow suggest dog walking
                    routes based on certain parameters (greenery, new routes, little traffic...)
                </p>
            </div>

            <div class=ideaItem data-aos="fade-left">
                <h5>A bike route planner</h5>

                <p>
                    - minimises up hill cycling, even if that makes the route longer
                    - recognises and shows dedicated cycle paths
                    - speaks the route to me so I don’t have to look at a screen while cycling
                </p>
            </div>

            <div class=ideaItem data-aos="fade-right">
                <h5>The prettiest hiking route </h5>

                <p>
                    I want a route planner that makes me the prettiest hiking route (with nice views, lot's of forests, the
                    smallest possible paths).
                    If at all possible, it will know where I was before and avoid the paths already taken. But if all the
                    reasonable alternatives have been explored,
                    fall back to the one I take most (as I probably like that one most).
                </p>
            </div>

            <div class=ideaItem data-aos="zoom-in">
                <h5>The cost of optimal route </h5>

                <p>
                    Sometimes I want to be somewhere as fast as possible (highest time cost),
                    sometimes I want to get somewhere spending the least € (lower time cost + higher other cost)
                    and sometimes I have paid already some other transport mean (low cost use of this mean)

                    The challenge lies in making this as ergonomically as possible while keeping some
                    flexibility and keeping the options high.
                </p>
            </div>

            <div class=ideaItem data-aos="fade-left">
                <h5>Less pollution </h5>

                <p>
                    I live in Antwerp, Belgium and would like a route planner that guides me
                    (by foot and by bike) through the least polluted areas
                    (based on the air quality sensors?).
                    Those are probably also the most beautiful areas of the city for example
                    for tourist routes.
                </p>
            </div>

        <div class=ideaItem data-aos="fade-right">
            <h5>Best time to start a meeting</h5>

            <p>
                I want a routeplanner that helps me to plan the best time to start a meeting/start traveling to the meeting
                and takes into account multimodal transport types, traffic, road works, delays, public transport time
                table/real time info.
                And where I can order tickets if public transport or shared bicycles are included
            </p>
        </div>

        <div class=ideaItem data-aos="zoom-in">
            <h5>The W.O.M.B.</h5>

            <p>
                A routeplanner takes you from A to B. What if B was a world where you are welcome,
                where we learn to respect and meet each other.
                That is WOMB, the Welcome On My B routeplanner that shows the route to a person with a shared
                or interesting hobby or passion but maybe from a different background, religion, gender, age,...
            </p>
        </div>

        <div class=ideaItem data-aos="fade-left">
            <h5>10km with my folding bike</h5>

            <p>
                I want to be able to combine my folding bike with public transport.
                Say that I'm comfortable with biking 10 kms ( or a different distance, could be a variable),
                and I want to head to a location where there is no train station in the town.
                I'd like to have a planner that indicates which station then is the closest and/or easiest
                to reach from my city to combine with my folding bike.
            </p>
        </div>

        </div>

    </section>
</section>
