<section id="developers" class="alt-columns">
    <div class="row row-content">
        <div class="section-title">
            <span class="circle"></span>
            <h3>Developers</h3>
        </div>
    </div>
    <div class="row row-content" data-aos="fade-up">
        <p>
            Can't wait to tag along? We are developing tools on
            <a href="https://github.com/openplannerteam">Github</a>.
            Check back in February for more!
        </p>
    </div>
    <div class="row row-content" data-aos="fade-up">
        <a href="developers.html">More informations</a>
    </div>
</section>