<section id="disclaimer">
  <div class="row row-content">
    <div class="section-title">
      <span class="circle"></span>
      <h3>Open call for ideas</h3>
    </div>
  </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <h4><a href="/ideas">Check out some of the submitted ideas</a></h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-9">
            <div class="container">
                <div class="video">
                    <iframe src="https://player.vimeo.com/video/320746409?autoplay=1&loop=1&background=1"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
