<section id="launch-event">
    <div class="row row-content">
        <div class="section-title">
            <span class="circle"></span>
            <h3>Sprinting towards February 2019</h3>
        </div>
    </div>
    <div class="row row-content" data-aos="fade-up">
        <div class="col-sm-12 col-md-4">
            <p>
                In February 2019, we have our first milestone. It includes having published the time schedules by
                the 4 public transport agencencies as live as possible as Linked Connections, as well as having
                published a
                live
                Open Street Map version in routable tiles. These datasets will allow route planners to automatically
                adopt
                them,
                without having to go through expensive pre-processing steps, or manual integration labour.
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>
                A press moment at <a href="http://openbelgium.be">the Open Belgium 2019 conference</a> will announce how
                we
                will
                organize a Call for Ideas and Call for Proposals for new route planners. The selected ideas will be
                built by
                students during <a href="http://summerofcode.be">Open Summer of code 2019</a>!
            </p>
        </div>
    </div>
</section>