<section id="osoc" class="alt-columns">
  <div class="row row-content">
    <div class="section-title">
      <span class="circle"></span>
      <h3>Open Summer of Code 2019</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9">
      <div class="container">
        <img src="../../img/osoc.jpg" alt="picture of students at Osoc 2019" width="50%">

        <p>The proof of the pudding is in the eating. We will put our open source tools for data integration to the test
          during Open Summer of Code. 10 students will develop 3 concrete suggestions from the open call for ideas!</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h3 class="cta"><a href="https://www.eventbrite.co.uk/e/demo-day-open-summer-of-code-2019-registration-63862771268">Already excited? Register at the Demo Day!</a></h3>
    </div>
  </div>

  <div class="row row-content" data-aos="fade-up">
    <div class="subtitleOsoc">
      <div class="col-sm-12 col-md-9">
        <h4>Check out the three selected projects</h4>
      </div>
    </div>
    <div class="content">
      <div class="row row-content" data-aos="fade-up">
        <div class="col-sm-12 col-md-4">
          <h5> <span>01.</span> Configurator for individual route planners</h5>
          <p>
            Would you prefer to avoid mud? Do you dislike left turns? Do you wish to go downhill? This configurator will
            be
            created for anyone who is interested in configuring their very own route planner to answer your personal
            mobility needs. We will demonstrate our configurator using the velomobile as a test case .
          </p>
          <a href="/first_project" target="_blank">Details after the begining of Osoc, see you on 04/07</a>

        </div>
        <div class="col-sm-12 col-md-4">
          <h5><span>02.</span>Mobility scores dataset generator</h5>

          <p>
            Imagine real estate agents being able to better identify the value of a property by the score of its
            location
            and accessibility. Imagine two people being able to have a meeting at their most reachable mid-point. The
            mobility scores dataset generator allows developers to create a dating app, a real estate mobility app, a
            meeting planner, etc. using the mobility scores we provide.
          </p>
          <a href="/second_project" target="_blank">Details after the begining of Osoc, see you on 04/07</a>

        </div>
        <div class="col-sm-12 col-md-4">
          <h5><span>03.</span>E-Bike and Public Transport route planner</h5>

          <p>
            With an e-bike, it is easy to cover greater distances. This application will provide an intermodal route
            planner
            that demonstrates cyclists all different mobility options to use their e-bike in the best way.
          </p>
          <a href="/third_project" target="_blank">Details after the begining of Osoc, see you on 04/07</a>
        </div>
      </div>
    </div>
  </div>
</section>