<section id="osoc">
  <div class="row row-content">
    <div class="section-title">
      <span class="circle"></span>
      <h3>Proof of concept</h3>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-sm-12 col-md-12">
      <p>The proof of the pudding is in the eating. We put our open source tools for data integration to the test during open Summer of code.
        10 students have developed 3 concrete projects based on the suggestions from the <a href="/ideas" target="_blank">open call for ideas</a>!</p>
    </div>
  </div>
  <div class="row row-content" data-aos="fade-up">

    <div class="subtitleOsoc">
      <div class="col-sm-12 col-md-12">
        <h4>Check out the three selected projects</h4>
      </div>
    </div>
    <div class="content">
      <div class="row row-content" data-aos="fade-up">

        <div class="col-sm-12 col-md-4">
          <div class="container">
            <img src="../../img/hopper.png" alt="crest of hopper project" width="40%">
          </div>
          <h5> <a href="/projects#hopper" target="_blank"> <span>01.</span> Hopper </a> </h5>
          <p>
            Providing tailor made commute paths for (future) e-bike owners to stimulate the shift towards a more sustainable mobility.
          </p>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="container">
            <img src="../../img/configuroute.png" alt="crest of configuroute project" width="40%">
          </div>
          <h5> <a href="/projects#configuroute" target="_blank"> <span>02.</span> Configuroute </a> </h5>
          <p>
            A tool for making personalized configuration files for route planning.
          </p>

        </div>
        <div class="col-sm-12 col-md-4">
          <div class="container">
            <img src="../../img/horison.png" alt="crest of horison project" width="40%">
          </div>
          <h5> <a href="/projects#horison" target="_blank"> <span>03.</span> Horison </a> </h5>
          <p>
            Helping small groups of people find suitable places to meet up.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
