<section id="team">
    <div class="row row-content">
        <div class="section-title">
            <span class="circle"></span>
            <h3>Our team</h3>
        </div>
    </div>
    <div class="items">
        <div class="item" data-aos="fade-up">
            <img src="{{ site.baseurl }}/img/okfn-logo.svg" alt="Open Knowledge Belgium" width="45%">
            <p>
                A not for profit building communities around Open Data. Will be organizing
                <a href="http://openbelgium.be">Open Belgium in February 2019</a> and the
                <a href="http://summerofcode.be">open Summer of code 2019</a> with 10 students taking on the ideas from
                the public call for ideas.
            </p>
        </div>
        <div class="item" data-aos="fade-up">
            <img src="{{ site.baseurl }}/img/anyways-logo.svg" alt="Anyways" width="50%">
            <p>
                <a href="https://anyways.eu">ANYWAYS</a> manages the <a href="http://www.itinero.tech/">Itinero</a>
                open source route planner. Furthermore, its founder Ben Abelshausen is a member of the OpenStreetMap
                community. Their tasks will be to create a smarter open data publishing system for the OSM road network.
            </p>
        </div>
        <div class="item" data-aos="fade-up">
            <img src="{{ site.baseurl }}/img/imec-logo.svg" alt="IMEC" width="35%">
            <p>
                Researchers from the IDLab team specialize in Open Data interfaces. Earlier they created Linked
                Connections as a result from the <a href="https://phd.pietercolpaert.be">PhD of Pieter Colpaert</a>.
            </p>
        </div>
        <div class="item" data-aos="fade-up">
            <img src="{{ site.baseurl }}/img/nextmoov-logo.svg" alt="nextmoov" width="50%">
            <p>
                Nextmoov is specialized in creating digital experiences for mobility use cases. The nextmoov team is
                going to help publishing some datasets, and create a playground for route planning systems.
            </p>
        </div>
        <div class="item" data-aos="fade-up">
            <img src="{{ site.baseurl }}/img/delijn-logo.svg" alt="De Lijn" width="30%">
            <p>
                De Lijn, as part of this project, will be the first early adopters to implement the data publishing
                specifications in their own organization.
            </p>
        </div>
    </div>
</section>