<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-vertical-part-1"></div>
            <div class="footer-vertical-part-2">
                <div class="footer-section">
                    <img src="img/opt-logo-full-white.png" class="logo" alt="{{ site.title }}">
                </div>
                <div class="footer-section">
                    <ul>
                        <li id="contact">Get in touch</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p>Made with love by <img src="{{ site.baseurl }}/img/opt-logo-full-white.png" class="logo" alt="nextmoov"></p>
                </div>
            </div>
        </div>
    </div>
</footer>