<footer>
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-7" style="background-color: black;">
               <div class="col-md-8 offset-md-4">
                   <img src="img/logo-full-white.png" alt="{{ site.title }}">
               </div>
               <div class="col-md-8 offset-md-4">
                   <p id="contact">Get in touch</p>
               
                   <p>Privacy policy</p>
                   <p>Made whith love by </p><img src="" alt="">
               </div>
           </div>
           <div class="col-md-5">
           </div>
       </div>
   </div>
</footer>
