<footer id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-content">
                <div class="footer-section">
                    <img src="{{ site.baseurl }}/img/opt-logo-white.svg" class="logo" alt="{{ site.title }}">
                </div>
                <div class="footer-section">
                  <ul>
                    <li>
                      <a href="#">Get in touch</a>
                    </li>
                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-section footer-section--watermark">
                    <p>
                      <a href="https://nextmoov.be" target="_blank">
                        This work is funded by the <a href="https://www.smartmobilitybelgium.be/">Smart Mobility Belgium</a> call by minister De Croo and minister Bellot.
                      </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.baseurl }}/js/main.js"></script>
