<header>
    <div class="container" id="header">
        <div class="menu-row">
            <div class="mobile-top-bar-closed">
                <a href="/">
                    <img class="site-logo" src="{{ site.baseurl }}/img/opt-logo-white.svg" aria-hidden>
                    <h1>{{ site.title }}</h1>
                </a>
                <button class="open-menu-button" type="button" aria-label="Open navigation" aria-controls="navigation">
                    <img src="{{ site.baseurl }}/img/menu-icon-open.svg">
                </button>
            </div>
            <div class="menu-wrapper">
                <div class="mobile-top-bar-open">
                    <a href="{{ site.baseurl }}">
                        <img class="site-logo-white" src="{{ site.baseurl }}/img/opt-logo-white.svg" aria-hidden>
                        <h1>{{ site.title }}</h1>
                    </a>
                    <button class="close-menu-button" type="button" aria-label="Close navigation"
                        aria-controls="navigation">
                        <img src="{{ site.baseurl }}/img/menu-icon-close.svg">
                    </button>
                </div>
                {% include navigation.html %}
            </div>
        </div>
    </div>
</header>