<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:sitename" content="{{ site.title }}">
  <meta property="og:image" content="{{'/img/share.png' | prepend: site.baseurl}}">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content="1200">
  <meta property="og:title" content="{{ site.title }}">
  <meta name="twitter:image" content="{{'/img/share.png' | prepend: site.baseurl}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:title" content="{{ site.title }}">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{'/js/jquery/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/js/bootstrap/bootstrap.min.js' | prepend: site.baseurl}}"></script>

</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row menu-row">
            <div>
                <div class="mobile-top-bar-closed">
                    <a href="/" class="site-link">
                      <img class="site-logo" src="{{ site.baseurl }}/img/opt-logo.svg" aria-hidden>
                      <h1>{{ site.title }}</h1>
                    </a>
                    <button class="open-menu-button" type="button" aria-label="Open navigation" aria-controls="navigation">
                      <img src="{{ site.baseurl }}/img/menu-icon-open.svg">
                    </button>
                </div>

                <div class="menu-wrapper">
                    <div class="mobile-top-bar-open">
                        <a href="{{ site.baseurl }}" class="site-link">
                          <img class="site-logo-white" src="{{ site.baseurl }}/img/opt-logo-white.svg" aria-hidden>
                          <h1>{{ site.title }}</h1>
                        </a>
                        <button class="close-menu-button" type="button" aria-label="Close navigation" aria-controls="navigation">
                          <img src="{{ site.baseurl }}/img/menu-icon-close.svg">
                        </button>
                    </div>
                    <nav>
                        <a href="{{ site.baseurl }}" class="site-link">
                          <img class="site-logo" src="{{ site.baseurl }}/img/opt-logo.svg" aria-hidden>
                          <h1>{{ site.title }}</h1>
                        </a>
                        <ul>
                            <li><a href="/#about">About</a></li>
                            <li><a href="/#team">Team</a></li>
                            <li><a href="/developers.html">Developers</a></li>
                            <li><a href="/#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
