<nav>
    <a href="{{ site.baseurl }}" class="site-link">
        <img class="site-logo" src="{{ site.baseurl }}/img/opt-logo.svg" aria-hidden>
        <h1>{{ site.title }}</h1>
    </a>
    <ul>
        <li><a href="/#osoc">Proof of concept</a></li>
        <li><a href="/projects">oSoc</a></li>
        <li><a href="/#team">About</a></li>
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="/developers">Developers</a></li>
        <li><a href="/#contact">Contact</a></li>
    </ul>
</nav>
