#call-ideas{
    margin-top: 20px;

    .row-content{
        flex-direction: column;
    }

    .container{
        position : relative;
        display: block;
        width: 80%;
        padding: 0;
        overflow: hidden;

        .video{
            padding: 0 0 0 0;
            height: 100%;

            iframe{
                left:0;
                width:100%;
                height:100vh;
            }
        }
    }
}
