#contact{
  margin-top: 70px;
  margin-left: 0px;

  .row{
    .footer-content{
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $black;
      margin-left: 0px;
      width: 100vw;

      .footer-section{
        margin-top:10px;
        color:white;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(md) {
          padding-left: 50px;
          padding-right: 50px;
        }

        img{
          width: (3 * 100vw / 12);
          margin-bottom: 10px;
          @include media-breakpoint-up(md) {
            width: (100vw / 12);
          }
        }
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          padding-left: 43px;
          li{
            position: relative;
            margin-top: 0px;
            margin-left: (100vw / 12 * -2);
            padding-left: (100vw / 12 * 2);
            background-image: url("../img/dots-icon.svg");
            background-position: calc((100vw / 12) * 2 - 42px) 10px;
            background-repeat: no-repeat;
      
            @include media-breakpoint-up(md) {
              background-position: calc((100vw / 12) * 2 - 48px) 10px;
            }
            a,
            &:hover{
              color: inherit;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
        p{
          opacity: 0.8;
          font-size: 12px;

          @include media-breakpoint-up(md) {
            margin-top: 40px;
            font-size: 10px;
          }
          a{
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}
