header {

  .container{
    position: fixed;
    top: 0;

    @include media-breakpoint-down(sm) {
      z-index: 1;
      padding-top: 20px;
      background-color: $white;
      padding-bottom: 15px;
      z-index: 1;
      height: 75px;
      transition: top 0.8s;
      max-width: 100vw;
    }

    @include media-breakpoint-up(md) {
      padding: 60px 0 20px 0;
      right: 0px;
      left: 0px;
      background-color: white;
      z-index: 10;
      transition: top 0.5s;
    }

    .menu-row{
      @include make-col-ready();

      @include media-breakpoint-up(md) {
        @include make-col(11);
      }
      
      .mobile-top-bar-closed{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
          display:none;
        }

        a{
          z-index: 10;
          @include media-breakpoint-down(sm) {
            mix-blend-mode: difference;
          }
          img.site-logo{
            width:(3 * 100vw / 12);
          }
          h1{
             display: none;
            }
          }
        }
        .open-menu-button{
          position: relative;
          padding: 0;
          margin: 0;
          border: 0;
          height: 38px;
          width: 38px;
          border-radius: 50%;
          background: transparent;
          -webkit-appearance: none;
          appearance: none;
          background-color: $black;
          margin-right: -10px;

          &:focus {
            outline: none;
          }

          img{
            position: absolute;
            top: 13px;
            left: 11px;
          }
        }
        .menu-wrapper{
          @include media-breakpoint-down(sm) {
            background-color:black;
            width:100vw;
            height:100vh;
            position:fixed;
            top:0;
            bottom: 0;
            left: 0;
            transform: translate3d(0, -100%, 0);
            z-index:1;
            will-change: transform;
            transition: transform 0.8s cubic-bezier(0.2, 1, 0.25, 1);

            &.nav-open {
              transform: translate3d(0,0,0);
              left: 0;
            }
          }
          .mobile-top-bar-open{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position:absolute;
            z-index:5;
            @include make-col-ready();
            @include make-col(10);
            @include make-col-offset(1);
            margin-left: 0px;
            max-width: 100vw;

            @include media-breakpoint-up(md) {
              display:none;
            }

            a{
              z-index: 10;
              .site-logo-white{
                width:(3 * 100vw / 12);
                display: none;
              }
              h1{
                display: none;
              }
            }

          .close-menu-button{
            position: relative;
            padding: 0;
            margin: 0;
            border: 0;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            background: transparent;
            -webkit-appearance: none;
            appearance: none;
            background-color: $white;
            margin-top: 20px;
                  
            &:focus {
              outline: none;
            }
            img{
              position: absolute;
              top: 13px;
              left: 13px;     
            }
          }
        }
      }
    }
  }
}