#projects{
  min-height: 70vh;

.container{
  max-width: 800px;
  margin-bottom : 50px;
  img{
    width: 100%;
  }
}

.row-content{
  padding-bottom : 5vw;
  align-items: center;
}

.section-title {
    margin-bottom: 2.5vw;
}

}
