#projects{
  min-height: 70vh;

.container{
  max-width: 800px;
  margin-bottom : 50px;
  img{
    width: 100%;
  }
}

.row-content{
  padding-bottom : 5vw;

  img{
    margin-left: 25%;
    padding-bottom : 2.5vw;
  }
}



.section-title {
    margin-bottom: 2.5vw;
}

}
