$grid-gutter-width: 0px;

@import "includes";




/**********/
/* HEADER */
/**********/
header {
    .title > div {
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }
    
    .container-fluid:first-child {
        min-height:50vh;
        padding-top:60px;
        padding-bottom:80px;
    }

    .menu-row {
        margin-bottom:60px;
    }
    
    .menu-row > div {
        @include make-col-ready();
    }
    
    .close-menu-button img, .open-menu-button img {
        height:30px;
    }
    
    @include media-breakpoint-down(sm) {
        .menu-wrapper {
            background-color:black;
            width:100vw;
            height:100vh;
            position:fixed;
            top:0;
            left:-100vw;
            z-index:1;
            padding-top:60px;
        }
        
        nav {
            @include make-col-ready();
            @include make-col(10);
            @include make-col-offset(2);
            height:100vh;
            display: flex;
            align-items: center;
        }
        
        nav ul {
            list-style-image:url("../img/white_rectangle.png");
            list-style-position: outside;
            margin: 0;
            padding: 0;
        }
        
        nav li {
            margin-top:40px;
        }
        
        nav a {
            text-decoration:none;
            color:white;
        }
        
        nav a:hover {
            color:white;
        }
        
        nav .site-logo {
            display:none;
        }
    }
    
    .mobile-top-bar-open, .mobile-top-bar-closed {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }
    
    .mobile-top-bar-open {
        position:absolute;
        z-index:3;
    }
    
    .site-logo {
        width:(3 * 100vw / 12);
    }
    
    .site-logo-white {
        width:(3 * 100vw / 12);
    }

    li a {
        text-decoration:none;
    }

    .cover-picture {
        height:80vh;
        overflow:hidden;
    }
    
    .cover-picture img {
        object-fit:cover;
    }
    
    @include media-breakpoint-up(md) {
        .mobile-top-bar-open, .mobile-top-bar-closed {
            display:none;
        }
        
        .title > div {
            @include make-col(7);
            @include make-col-offset(2);
        }
        
        .menu-row > div {
            @include make-col(10);
            @include make-col-offset(1);
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float:right;
        }
        
        li {
            display:inline-block;
            margin-left:60px;
        }
        
        li a {
            color:black;
        }
        
        .cover-picture { 
            @include make-col(11);
            height:50vh;
        }
        
        .cover-picture img {
            width:100%;
        }
        
        .site-logo {
            width:(100vw / 12);
        }
    }
}
/***********/
/* /HEADER */
/***********/

/*********/
/* ABOUT */
/*********/
#about {
    .row > div {
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }
    
    .row:nth-of-type(2) {
        margin-top: 60px;
    }

    .row:nth-of-type(3) {
        margin-top:(2 * 100vw / 12);
    }

    @include media-breakpoint-up(md) {
        .row:nth-of-type(1) > div {
            @include make-col(8);
            @include make-col-offset(2);
        }
        
        .row:nth-of-type(2) > div {
            @include make-col(4);
            @include make-col-offset(2);
        }
        
        .row:nth-of-type(3) {
            margin-top:(100vw / 12);
            
            > div:nth-of-type(1) {
                @include make-col(3);
                @include make-col-offset(4);
            }
            
            > div:nth-of-type(2) {
                @include make-col(3);
                @include make-col-offset(1);
            }
        }
    }
}
/**********/
/* /ABOUT */
/**********/


/***********/
/* GALLERY */
/***********/
#gallery {
    img {
        height:100%;
    }

    > .row {
        > div {
            @include make-col-ready();
            overflow:hidden;
        }
        
        > div:nth-of-type(1) {
            @include make-col(3);
            height:90vh;
            
            img {
                transform: translate(calc(12.5vw - 50%), 0);
            }
        }

        > div:nth-of-type(2) {
            height:90vh;
            @include make-col(3);        
            display:flex;
            flex-direction:column-reverse;
            
            img {
                transform: translate(calc(12.5vw - 50%), 0);
            }

            .sideways {
                align-self: flex-end;
                margin: 0 auto (100vw / 12) auto;
                writing-mode: vertical-rl;
                transform: rotate(180deg); /* Bugfix : sideways-lr value for writing-mode does not work on Safari, so we use vertical-rl instead and rotate it 180deg */
            }
            
            .black-line {
                align-self: flex-end;
                margin: 0 auto 60px auto;
                background-color:black;
                height:(6 * 100vw / 12);
                width:2px;
            }
        }
        
        > div:nth-of-type(3) {
            @include make-col(6);
            height:90vh;
            padding-top:20vh;
            
            img {
                transform: translate(calc(12.5vw - 50%), 0);
            }
        }
        
        > div:nth-of-type(4) {
            display:none;       
        }
    }
    
    @include media-breakpoint-up(md) {
        > .row {
            > div:nth-of-type(2) {
                @include make-col(2);
                
                img {
                    transform: translate(calc(8.333vw - 50%), 0);
                }
                
                .sideways {
                    margin: 0 auto (100vw / 12) auto;
                }
                
                .black-line {
                    height:(2 * 100vw / 12);
                }
            }

            > div:nth-of-type(3) {
                @include make-col(4);
                
                img {
                    transform: translate(calc(16.666vw - 50%), 0);
                }
            }
        
            > div:nth-of-type(4) {
                @include make-col(3);
                display:block;
                height:60vh;
                padding-top:20vh;
                padding-left:20px;
                
                img {
                    transform: translate(calc(12.5vw - 50%), 0);
                }
            }
        }
    }
}
/************/
/* /GALLERY */
/************/



/********/
/* TEAM */
/********/
#team {
    .row > div {
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }

    .partners h3 {
        margin-top:60px;
        margin-bottom:40px;
        height:30px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        position:relative;

        img {
            height:30px;
            position:absolute;
            left:0px;
        }
    }
    
    .okfn.partner {
        h3, img {
        height:50px;
        }
    }
    
    @include media-breakpoint-up(md) {
        .row {
            .section-title {
                @include make-col(8);
                @include make-col-offset(2);
            }
        }
            
        .partners > div:nth-of-type(1) {
            @include make-col(3);
            @include make-col-offset(2);
        }
        
        .partners > div:nth-of-type(2) {
            @include make-col(3);
            @include make-col-offset(1);
        }
    }
}
/*********/
/* /TEAM */
/*********/



/**********/
/* LAUNCH */
/**********/
#launch-event {
    .row > div {
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }
}
/***********/
/* /LAUNCH */
/***********/



/**************/
/* DEVELOPERS */
/**************/
#developers {
    .row > div {
        @include make-col-ready();
        @include make-col(10);
        @include make-col-offset(1);
    }
}
/***************/
/* /DEVELOPERS */
/***************/


/**********/
/* FOOTER */
/**********/
footer {
    margin-top:120px;
    
    .footer-section {
        margin-top:80px;
        color:white;
    }
    
    .footer-vertical-part-1, .footer-vertical-part-2 {
        padding-top:120px;
        padding-bottom:120px;
        background-color:black;
        @include make-col-ready();
    }
    
    .footer-vertical-part-1 {
        @include make-col(2);
    }
    
    .footer-vertical-part-2 {
        @include make-col(8);
    }
    
    .logo {
        width: (3 * 100vw / 12);
    }
    
    .inline-logo {
        vertical-align:baseline;
        margin-left:5px;
        height:1em;
    }

    ul {
        list-style-image:url("../img/dots-icon.svg");
        list-style-position: outside;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin-top:20px;
    }
        
    @include media-breakpoint-up(md) {
        footer {
            margin-top:160px;
        }

        .logo {
            width: (100vw / 12);
        }
    
        .footer-vertical-part-2 {
            @include media-breakpoint-up(md) {
                @include make-col(5);
            }
        }
    }
}
/***********/
/* /FOOTER */
/***********/



/********/
/* MISC */
/********/
section {
    margin-top:120px;
    
    @include media-breakpoint-up(md) {
        margin-top:160px;
    }
}

.wrapper {
    background-color:white;  // For mix-blend-mode to work the same way on Chrome as on Firefox & Safari
}

.circle {
    background-color: white;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: inline-block;
    mix-blend-mode: difference;
    position: absolute;
    left: -22px;
    text-align: center;
    top: -15px;
}

h2 {
    margin-bottom:60px;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.00625em;
    line-height: 1.2;
}

h3 {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: -0.00625em;
    line-height: 1.2;
}

p {
    font-size: 18px;
    letter-spacing: -0.0111em;
    line-height: 1.8;
}

p.bigger {
    font-size: 24px;
    letter-spacing: -0.0084em;
    line-height: 1.85;
}

@include media-breakpoint-up(md) {
    #developers {
        margin-top: (100vw / 12);
    }
}
/*********/
/* /MISC */
/*********/